.parDiv{
  line-height: 0%;
}

.flip {
  position: relative;
  width:25%;
  height:auto;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: .5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 15rem;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #b1aeb6;
  /* border:solid 1px black; */
  text-align:center;
}
span{
  display: flex;
  text-align: center !important;
  font-size: 2em;
  vertical-align: middle !important;
}
